<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
<h1>Add New Account</h1>
<form action="/Account/insert" method="get">
    Account Name: <input id="email" name="first_name" type="text" />
    <br />
    <br />
    Account
    <br />
    <select id="email" name="email" multiple="multiple">
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%= account[i].email %>"><%= account[i].email + ', ' + account[i].first_name + ', ' + account[i].last_name%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#email').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>