<%- include("../includes/header.ejs", {title:"Add New Skill"}); %>
<h1>Add New skill</h1>
<form action="/Skill/insert" method="get">
    Company Name: <input id="skill_name" name="skill_name" type="text" />
    <br />
    <br />
    Address
    <br />
    <select id="skill_name" name="skill_name" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_name %>"><%= skill[i].skill_name + ', ' + skill[i].description %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>