<%- include("../includes/header.ejs", {title:"Skill - View All"}); %>

<h1>Schools</h1>
<a href="/skill/add">Add New Skill</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/skill/?skill_id=<%= result[i].skill_id %>"><%= result[i].skill_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/school/edit/?skilll_id=<%= result[i].skill_id %>'">Edit</button>
            <form action="/skill/delete/" style="display:inline;">
                <input type="hidden" name="skill_name" id="skill_name" value="<%= result[i].skill_name %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>