<%- include("../includes/header.ejs", {title:"skill"}); %>
<h1>Skill</h1>
<ul>
    <li>Skill Name: <%= result[0].skill_name %></li>
    <li>Skill(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].skill_name + ', ' + result[i].description %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>