<%- include("../includes/header.ejs", {title:"Addresses - View All"}); %>

<h1>Addresses</h1>
<a href="/address/add">Add New Address</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/Address/?address_id=<%= result[i].address_id %>">
                <%= result[i].street %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/address/edit/?address_id=<%= result[i].address_id %>'">Edit</button>
            <form action="/Address/delete/" style="display:inline;">
                <input type="hidden" name="street" id="street" value="<%= result[i].street %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>