<%- include("../includes/header.ejs", {title:"Add New School"}); %>
<h1>Add New School</h1>
<form action="/School/insert" method="get">
    School Name: <input id="address_id" name="school_name" type="text" />
    <br />
    <br />
    School
    <br />
    <select id="school_name" name="address_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].school_name %>"><%= school[i].school_name + ', ' + school[i].address_id %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_name').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>